$proportions: (
  doubleSquare: 2,
  tallOctagon: 1.924,
  tallHexagon: 1.866,
  octagon: 1.848,
  hexagon: 1.732,
  tallPentagon: 1.701,
  goldenSection: 1.618,
  pentagon: 1.539,
  shortPentagon: 1.376,
  tallHalfOctagon: 1.307,
  halfOctagon: 1.207,
  truncatedPentagon: 1.176,
  turnedHexagon: 1.155,
  tallCrossOctagon: 1.082,
  turnedPentagon: 1.051,
  square: 1,
  broadPentagon: 0.951,
  broadCrossOctagon: 0.924,
  broadHexagon: 0.866,
  fullCrossOctagon: 0.829,
  iso: 1.414,
  octave: 2,
  majorSeventh: 15 / 8,
  minorSeventh: 16 / 9,
  majorSixth: 5 / 3,
  minorSixth: 8 / 5,
  fifth: 3 / 2,
  diminishedFifth: 1.414,
  augmentedFourth: 1.414,
  fourth: 4 / 3,
  majorThird: 5 / 4,
  minorThird: 6 / 5,
  majorSecond: 9 / 8,
  minorSecond: 16 / 15,
  unison: 1
);
